<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<form class="form-horizontal" method="POST" th:action="@{/musicas}"
		th:object="${musica}">
		<div layout:include = "MessagemErro"></div>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Nova Musica</h1>
					<a class="btn btn-link aw-link-panel" th:href="@{/musicas}">Voltar
						para pesquisa</a>
				</div>
			</div>

			<div class="panel-body">
				<input type="hidden" th:field="*{idMusica}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('banda')} ? has-error">
					<label for="banda" class="col-sm-2 control-label">Banda</label>
					<div class="col-sm-2">
					    <select class="form-control" th:field="*{banda}">
					    	<option value="">Escolha a sua Banda</option>
					    	<option th:each="banda : ${allBandas}" th:value="${banda.idBanda}" th:text="${banda.nome}" ></option>
					    </select>
						<!-- <input type="text" class="form-control" id="banda.nome"
							th:field="*{banda}" /> -->
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome da Música</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="nome"
							th:field="*{nome}" />
					</div>
				</div>

			    <div class="form-group"
					th:classappend="${#fields.hasErrors('compositor')} ? has-error">
					<label for="compositor" class="col-sm-2 control-label">Nome do compositor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="compositor"
							th:field="*{compositor}" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>